@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

:root {
  --cursor-size: 28px;
  --cursor-color: #fff;
}

:root {
  --navbar-color: #000000e0;
  --primary-color: #000000;
  --accent-color: rgb(18, 170, 225);
  --accent-color2: rgb(12, 67, 87);
  --text-color: rgb(249, 249, 249);
  --shadow-color: rgb(3, 7, 40);
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  filter: url(#goo);
  z-index: 1000;
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--cursor-color);
  transform-origin: center center;
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  z-index: 1;
}
header .skip-nav {
  position: absolute;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid var(--accent-color);
  transition: translate 200ms ease-in-out;
  translate: 0% -200%;
  padding: 10px;
}
header .skip-nav:focus {
  translate: 0% 200%;
}
header .logo {
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
header nav {
  position: fixed;
  right: 2rem;
  top: 0;
  bottom: auto;
  height: 80px;
}
header nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  padding-inline: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  position: relative;
}
header nav ul li a .icon {
  display: none;
}
header nav ul li a::before {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: top center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn {
  stroke: var(--accent-color);
}
header nav ul li a.themes-btn .icon {
  display: block;
}
header nav ul li a.themes-btn .icon line,
header nav ul li a.themes-btn .icon rect {
  stroke-width: 9;
}
header nav ul li a.themes-btn .text {
  display: none;
}
header nav ul li a:hover {
  outline: none;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}
header nav ul li a:hover .icon svg path {
  stroke: var(--accent-color);
}
header nav ul li a:hover.themes-btn svg line,
header nav ul li a:hover rect {
  stroke: var(--accent-color);
}
header nav ul li a:hover::before {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px 10px 10px var(--accent-color));
}
header nav ul li a.themes-btn svg line,
header nav ul li a rect {
  stroke: var(--text-color);
}
header nav ul li a.themes-btn:after {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: bottom center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn:hover::after {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px -10px 10px var(--accent-color));
}
header .dropdown-content {
  position: fixed;
  top: 80px;
  bottom: auto;
  right: 2rem;
  width: min(100% - 1rem, 400px);
  margin: 0 auto;
  translate: 120% 0%;
  background-color: var(--navbar-color);
  transition: 500ms cubic-bezier(0.42, 0, 0.11, 1.32);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10;
}
header .dropdown-content.open {
  translate: 0% 0%;
}
header .dropdown-content ::-webkit-scrollbar {
  width: 6px;
}
header .dropdown-content ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  box-shadow: 0px 0px 10px var(--accent-color);
}
header .dropdown-content p {
  font-size: 1.3rem;
  padding: 10px;
  padding-block: 20px;
}
header .dropdown-content p span {
  color: var(--accent-color);
  font-weight: 900;
}
header .dropdown-content .dropdown-items {
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 450px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
header .dropdown-content .dropdown-items .dropdown-item {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--navbar-color);
  background-image: linear-gradient(45deg, var(--primary-color) 0%, var(--primary-color) 33%, var(--accent-color) 33%, var(--accent-color) 66%, var(--accent-color2) 66%, var(--accent-color2) 100%);
  height: 200px;
  position: relative;
  transition: 100ms linear;
}
header .dropdown-content .dropdown-items .dropdown-item:hover {
  box-shadow: 0px 0px 10px var(--accent-color);
  scale: 1.02;
}
header .dropdown-content .dropdown-items .dropdown-item .theme-description {
  position: absolute;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--navbar-color);
}

.preloader {
  background-color: var(--primary-color);
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: 300ms linear;
  display: flex;
  flex-direction: column;
}
.preloader .fun-fact {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% 0;
  width: min(100% - 2rem, 600px);
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  transition: 300ms linear;
}
.preloader .fun-fact span {
  color: var(--accent-color);
  font-size: clamp(2rem, 3vw, 4rem);
}
.preloader .loader-inner {
  width: min(22vw, 8rem);
  border: 4px solid var(--accent-color);
  filter: drop-shadow(0px 0px 10px var(--accent-color));
  border-left-color: transparent;
  -webkit-animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer {
  width: min(30vw, 10rem);
  border: 4px solid var(--accent-color2);
  filter: drop-shadow(0px 0px 10px var(--accent-color2));
  border-right-color: transparent;
  -webkit-animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer,
.preloader .loader-inner {
  transition: 300ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 50%;
  border-bottom: 0;
}
.preloader.loaded {
  opacity: 0;
  transition-delay: 500ms;
}
.preloader.loaded .fun-fact {
  opacity: 0;
}
.preloader.loaded .loader-outer,
.preloader.loaded .loader-inner {
  opacity: 0;
}

@-webkit-keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */