@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@media (prefers-color-scheme: dark) {
  :root {
    --navbar-color: #000000e0;
    --primary-color: #040510;
    --accent-color: #12aae1;
    --accent-color2: #0c4357;
    --text-color: #f9f9f9;
    --shadow-color: #01020ea1;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --navbar-color: #ffffffe0;
    --primary-color: #ffffff;
    --accent-color: #12aae1;
    --accent-color2: #0c4357;
    --text-color: #000000;
    --shadow-color: #01020e32;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
  font-size: 18px;
}

:root {
  --cursor-size: 28px;
  --cursor-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

section {
  min-height: 100vh;
  padding-block: 40px;
}

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--cursor-color);
  transform-origin: center center;
}

.back-to-top {
  z-index: 10;
  position: fixed;
  right: 1rem;
  bottom: -80px;
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  display: grid;
  place-content: center;
  padding: 5px;
  background-color: var(--navbar-color);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 200ms linear;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, var(--accent-color), var(--accent-color2));
  box-shadow: 0px 0px 10px var(--shadow-color);
}
.back-to-top:hover {
  -webkit-animation: jump 0.5s ease-in-out infinite both;
          animation: jump 0.5s ease-in-out infinite both;
}
.back-to-top.active {
  bottom: 1rem;
}

.snackbar {
  position: fixed;
  left: 50%;
  bottom: -50px;
  top: auto;
  translate: -50% 0%;
  background-image: repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(157.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--shadow-color);
  transition: 300ms ease-in-out;
}
.snackbar.active {
  bottom: 80px;
  top: auto;
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  z-index: 10;
  box-shadow: 0px 0px 5px var(--shadow-color);
}
header .skip-nav {
  position: absolute;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid var(--accent-color);
  transition: translate 200ms ease-in-out;
  translate: 0% -200%;
  padding: 10px;
}
header .skip-nav:focus {
  translate: 0% 200%;
}
header .logo {
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
header nav {
  position: fixed;
  right: 2rem;
  top: 0;
  bottom: auto;
  height: 80px;
}
header nav .wrapper-menu {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: -3rem;
  top: -6px;
  width: 28px;
  height: 25px;
  width: 46px;
  height: 43px;
  display: none;
  background-color: transparent;
  border: none;
  padding: 10px;
}
header nav .wrapper-menu:hover .line-menu {
  background-color: var(--accent-color);
}
header nav .wrapper-menu .line-menu {
  background-color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  height: 2px;
}
header nav .wrapper-menu .line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
header nav .wrapper-menu .line-menu.half {
  width: 50%;
}
header nav .wrapper-menu .line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
header nav .wrapper-menu.open {
  transform: rotate(-45deg);
}
header nav .wrapper-menu.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
header nav .wrapper-menu.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
header nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  padding-inline: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  position: relative;
}
header nav ul li a .icon {
  display: none;
}
header nav ul li a::before {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: top center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn {
  stroke: var(--accent-color);
}
header nav ul li a.themes-btn .icon {
  display: block;
}
header nav ul li a.themes-btn .icon line,
header nav ul li a.themes-btn .icon rect {
  stroke-width: 9;
}
header nav ul li a.themes-btn .text {
  display: none;
}
header nav ul li a:hover {
  outline: none;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}
header nav ul li a:hover .icon svg path {
  stroke: var(--accent-color);
}
header nav ul li a:hover.themes-btn svg line,
header nav ul li a:hover rect {
  stroke: var(--accent-color);
}
header nav ul li a:hover::before {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px 10px 10px var(--accent-color));
}
header nav ul li a.themes-btn svg line,
header nav ul li a rect {
  stroke: var(--text-color);
}
header nav ul li a.themes-btn:after {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: bottom center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn:hover::after {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px -10px 10px var(--accent-color));
}
header .dropdown-content {
  position: fixed;
  top: 80px;
  bottom: auto;
  right: 2rem;
  width: min(100% - 1rem, 400px);
  margin: 0 auto;
  translate: 120% 0%;
  background-color: var(--navbar-color);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10;
  transition: translate 300ms linear;
  box-shadow: 0px 5px 5px var(--shadow-color);
}
header .dropdown-content.open {
  transition: translate 700ms cubic-bezier(0.42, 0, 0.11, 1.32);
  translate: 0% 0%;
}
header .dropdown-content.open .dropdown-items .dropdown-item {
  visibility: visible;
  opacity: 1;
  transition: 300ms linear;
}
header .dropdown-content ::-webkit-scrollbar {
  width: 6px;
}
header .dropdown-content ::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  box-shadow: 0px 0px 10px var(--accent-color);
}
header .dropdown-content p {
  font-size: 1.3rem;
  padding: 10px;
  padding-block: 20px;
}
header .dropdown-content p span {
  color: var(--accent-color);
  font-weight: 900;
}
header .dropdown-content .dropdown-items {
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 450px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
header .dropdown-content .dropdown-items .dropdown-item {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border: none;
  display: flex;
  text-align: left;
  color: var(--text-color);
  width: 100%;
  padding: 10px;
  background-color: var(--navbar-color);
  height: 200px;
  position: relative;
  transition: 100ms linear;
}
header .dropdown-content .dropdown-items .dropdown-item:hover {
  box-shadow: 0px 0px 10px var(--accent-color);
  scale: 1.02;
}
header .dropdown-content .dropdown-items .dropdown-item .theme-description {
  position: absolute;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--navbar-color);
  pointer-events: none;
  font-size: 0.8rem;
}
header .dropdown-content .dropdown-items .dropdown-item.active::before {
  font-size: 0.8rem;
  content: "Active";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20px;
  left: -20px;
  rotate: -45deg;
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
header .side-menu {
  display: none;
  position: fixed;
  visibility: hidden;
  right: 0;
  top: 80px;
  height: 100vh;
  width: 300px;
  background-color: var(--navbar-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  translate: 100% 0%;
  transition: 500ms cubic-bezier(0, 0, 0.37, 1.69);
}
header .side-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
header .side-menu ul li {
  translate: 50% 0%;
  opacity: 0;
  transition: 100ms linear;
}
header .side-menu ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  position: relative;
}
header .side-menu ul li a::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background-color: var(--accent-color);
  left: -15px;
  scale: 100% 0%;
  transform-origin: bottom;
  transition: box-shadow 100ms 250ms linear, scale 250ms ease-in-out;
}
header .side-menu ul li a:hover {
  color: var(--accent-color);
}
header .side-menu ul li a:hover::before {
  scale: 100% 100%;
  box-shadow: 5px 0px 10px var(--accent-color);
}
header .side-menu.open {
  visibility: visible;
  translate: 0% 0%;
}
header .side-menu.open li {
  translate: 0% 0%;
  transition: 300ms ease-in-out;
  opacity: 1;
}
header .side-menu.open li:nth-of-type(1) {
  transition-delay: 600ms;
}
header .side-menu.open li:nth-of-type(2) {
  transition-delay: 700ms;
}
header .side-menu.open li:nth-of-type(3) {
  transition-delay: 800ms;
}
header .side-menu.open li:nth-of-type(4) {
  transition-delay: 900ms;
}
header .side-menu.open li:nth-of-type(5) {
  transition-delay: 1000ms;
}

.preloader {
  background-color: var(--primary-color);
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: 300ms linear;
  display: flex;
  flex-direction: column;
}
.preloader .fun-fact {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% 0;
  width: min(100% - 2rem, 600px);
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  transition: opacity 300ms linear;
}
.preloader .fun-fact span {
  color: var(--accent-color);
  font-size: clamp(2rem, 3vw, 4rem);
}
.preloader .loader-inner {
  width: min(22vw, 8rem);
  border: 4px solid var(--accent-color);
  filter: drop-shadow(0px 0px 10px var(--accent-color));
  border-left-color: transparent;
  -webkit-animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer {
  width: min(30vw, 10rem);
  border: 4px solid var(--accent-color2);
  filter: drop-shadow(0px 0px 10px var(--accent-color2));
  border-right-color: transparent;
  -webkit-animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer,
.preloader .loader-inner {
  transition: 300ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 50%;
  border-bottom: 0;
}
.preloader.loaded {
  opacity: 0;
  transition-delay: 500ms;
}
.preloader.loaded .fun-fact {
  opacity: 0;
}
.preloader.loaded .loader-outer,
.preloader.loaded .loader-inner {
  opacity: 0;
}

footer {
  border-top: 1px solid var(--accent-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
  margin-top: 20px;
  min-height: 200px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  color: var(--accent-color);
}
footer ul {
  list-style-type: none;
  display: flex;
}
footer ul li a {
  text-decoration: none;
  color: var(--text-color);
}
footer ul li a svg {
  height: 35px;
}
footer ul li:nth-child(4) {
  padding-inline: 3px;
}
footer ul li:nth-child(5) {
  padding-inline: 3px;
}
footer ul li:nth-child(6) {
  padding-inline: 3px;
}
footer ul li:hover a {
  color: var(--accent-color);
}
footer .footer-left ul {
  display: flex;
  flex-direction: column;
}
footer .footer-left ul li a {
  font-size: 0.9rem;
}

.home {
  width: min(100vw - 2rem, 1500px);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 0px;
  justify-content: center;
  gap: 35px;
  overflow: hidden;
}
.home.active h1 {
  transition: opacity 300ms linear, translate 300ms linear;
  opacity: 1;
  translate: 0% 0%;
}
.home.active h2 {
  transition: opacity 300ms linear, translate 300ms linear;
  transition-delay: 300ms;
  opacity: 1;
  translate: 0% 0%;
}
.home.active .social a:nth-of-type(1) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 750ms;
}
.home.active .social a:nth-of-type(2) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 900ms;
}
.home.active .social a:nth-of-type(3) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1050ms;
}
.home.active .social a:nth-of-type(4) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1200ms;
}
.home.active .social a:nth-of-type(5) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1350ms;
}
.home.active .social a:nth-of-type(6) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1500ms;
}
.home.active .buttons {
  transition: 300ms linear;
  opacity: 1;
  transition-delay: 1800ms !important;
  translate: 0% 0%;
}
.home .bg-text {
  position: absolute;
  font-size: clamp(10rem, 25vw, 25rem);
  rotate: -45deg;
  color: var(--accent-color);
  z-index: -1;
  opacity: 0.05;
  top: 200px;
  left: 50px;
  overflow: hidden;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0 !important;
  -webkit-clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.home h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 400;
  opacity: 0;
  translate: 0% -20%;
}
.home h2 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 300;
  opacity: 0;
  translate: 0% -20%;
}
.home h2 span {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  color: var(--accent-color);
  font-weight: 900;
}
.home p {
  font-size: clamp(1rem, 1vw, 1.2rem);
}
.home .social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(12px, 3vw, 22px);
}
.home .social a {
  opacity: 0;
  translate: -40% 0%;
  transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  text-decoration: none;
}
.home .social a svg {
  width: clamp(30px, 3vw, 40px);
  fill: var(--text-color);
  transition: 200ms ease-in-out;
}
.home .social a:hover svg {
  fill: var(--accent-color);
  translate: 0% -10%;
  scale: 1.1;
  rotate: 10deg;
}
.home .buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
  translate: 0% -20%;
}
.home .buttons a {
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  background-color: var(--primary-color) !important;
  border-radius: 4px;
  position: relative;
  font-size: 1rem;
  background-clip: padding-box;
  border: solid 2px transparent;
  cursor: pointer;
  transition: box-shadow 200ms linear;
  box-shadow: 0px 0px 5px var(--shadow-color);
}
.home .buttons a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  margin: -2px;
  background-color: red;
  z-index: -50;
  background: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
}
.home .buttons a:hover {
  box-shadow: 0px 0px 5px var(--accent-color);
}
.home .buttons a:hover::before {
  background: linear-gradient(185deg, var(--accent-color), var(--accent-color2));
}

.work {
  position: relative;
  display: grid;
  place-content: center;
}
.work::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 50% 0, 100% 60%);
          clip-path: polygon(100% 0, 50% 0, 100% 60%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.work::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 50% 100%);
          clip-path: polygon(0 50%, 0% 100%, 50% 100%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.work .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100vw - 3rem, 1600px);
  gap: 20px;
  position: relative;
}
.work .projects .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work .projects .buttons button {
  background-color: var(--navbar-color);
  color: var(--text-color);
  box-shadow: 0px 0px 5px var(--shadow-color);
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--accent-color), var(--accent-color2));
  padding: 5px;
  z-index: 2;
  left: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.work .projects .carrousel {
  overflow: hidden;
}
.work .project {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.work .project.active {
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
.work .project.active .description {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.work .project.active .preview {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.work .project ul {
  list-style: none;
}
.work .project .description {
  border-radius: 4px;
  background-color: var(--navbar-color);
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--accent-color);
  padding: 20px;
  width: 605px;
  margin-right: -80px;
  z-index: 1;
  box-shadow: 0px 0px 10px var(--accent-color);
  -webkit-backdrop-filter: blur(8px) !important;
          backdrop-filter: blur(8px) !important;
}
.work .project .description svg {
  stroke: var(--text-color);
  fill: none;
  width: 35px;
  transition: 150ms linear;
}
.work .project .description .project-title {
  font-size: clamp(1.3rem, 2.3vw, 2.3rem);
  color: var(--accent-color);
}
.work .project .description .project-info ul li svg {
  fill: var(--text-color);
  width: 28px;
}
.work .project .description .project-info,
.work .project .description .project-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.work .project .description .project-info p,
.work .project .description .project-links p {
  font-size: clamp(0.9rem, 1vw, 1.4rem);
}
.work .project .description .project-info ul,
.work .project .description .project-links ul {
  display: flex;
  gap: 8px;
}
.work .project .description .project-info ul li,
.work .project .description .project-links ul li {
  display: grid;
  place-content: center;
}
.work .project .description .project-info ul li a:hover svg,
.work .project .description .project-links ul li a:hover svg {
  stroke: var(--accent-color);
  rotate: 15deg;
}
.work .project .preview {
  height: 500px;
  position: relative;
  box-shadow: 0px 0px 5px var(--shadow-color);
}
.work .project .preview img {
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: min(100vw - 3rem, 700px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--accent-color);
}

.skills {
  position: relative;
  display: grid;
  place-content: center;
}
.skills::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(50% 0, 0 0, 0 50%);
          clip-path: polygon(50% 0, 0 0, 0 50%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.skills .swiper {
  width: min(100% - 2rem, 1600px);
  text-align: center;
  padding-block: 50px;
  padding-inline: 15px;
}
.skills .swiper .swiper-button-prev, .skills .swiper .swiper-button-next {
  color: var(--accent-color);
}
.skills .swiper .swiper-slide {
  width: min(100% - 2rem, 350px);
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s linear;
  position: relative !important;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  background-color: var(--navbar-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  overflow: hidden;
}
.skills .swiper .swiper-slide img {
  height: 300px;
  margin: 0 auto;
  inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.skills .swiper .swiper-slide .description {
  padding-top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: var(--navbar-color);
  border-radius: 12px;
  position: absolute;
  bottom: 0px;
  translate: 0px 100%;
  transition: 300ms linear;
}
.skills .swiper .swiper-slide:hover img {
  transition: 250ms linear;
  filter: grayscale(0%);
}
.skills .swiper .swiper-slide:hover .description {
  bottom: 0;
  transition: 300ms linear;
  translate: 0px 0%;
}
.skills .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--accent-color);
}
.skills .swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 8px;
}

.about {
  display: grid;
  place-content: center;
  position: relative;
  min-height: 100vh;
}
.about::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0 !important;
  -webkit-clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
}
.about .container {
  width: min(100% - 2rem, 1600px);
  margin: 0 auto;
}
.about .container p {
  max-width: 1100px;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  margin-bottom: 20px;
}
.about .container .title {
  margin-bottom: 0px;
  background-image: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: clamp(1.2rem, 2.2vw, 2.2rem);
  text-shadow: 0px 0px 10px var(--shadow-color);
}
.about .container div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.about .container div a {
  flex: 1;
  text-decoration: none;
  padding: 10px 0px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 1;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
  transition: 500ms ease-in-out;
  position: relative;
  color: currentColor;
}
.about .container div a svg {
  position: absolute;
  top: 0;
  left: 10px;
  width: 35px;
  opacity: 0;
  transition: 300ms linear;
}
.about .container div a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
  top: 0%;
  left: 0%;
  scale: 0 1;
  transition: 300ms linear;
  transform-origin: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: -1;
}
.about .container div a:hover {
  background-color: transparent;
  color: white;
}
.about .container div a:hover svg {
  opacity: 1;
  transition-delay: 300ms;
}
.about .container div a:hover::before {
  scale: 1 1;
}

.contact {
  display: grid;
  position: relative;
  min-height: 100vh !important;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.contact::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 50% 0, 100% 60%);
          clip-path: polygon(100% 0, 50% 0, 100% 60%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.contact .container {
  width: min(100% - 2rem, 1600px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.contact .container form {
  display: grid;
  gap: 15px;
  width: min(100vw - 2rem, 500px);
  position: relative;
  pointer-events: all;
}
.contact .container form::before, .contact .container form::after {
  justify-content: center;
  align-items: center;
}
.contact .container form::before {
  display: none;
  content: "";
  z-index: 10px;
  background-color: var(--primary-color);
  opacity: 0.6;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
  width: 103%;
  height: 103%;
  z-index: 10;
}
.contact .container form::after {
  display: none;
  content: "";
  z-index: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent-color);
  border-left: none;
  border-top: none;
  z-index: 10;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}
.contact .container form.pending {
  opacity: 1;
  pointer-events: none;
}
.contact .container form.pending::before, .contact .container form.pending::after {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container form.success::before {
  display: flex;
}
.contact .container form.success::after {
  -webkit-animation: none;
          animation: none;
  display: flex;
  color: green;
  border: 2px solid green;
  content: "✔";
}
.contact .container form:has(.error) {
  gap: 25px;
}
.contact .container form .form-input {
  position: relative;
}
.contact .container form .form-input input,
.contact .container form .form-input textarea {
  padding: 15px;
  box-shadow: 0px 0px 5px var(--shadow-color);
  width: 100% !important;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}
.contact .container form .form-input input:focus ~ label,
.contact .container form .form-input textarea:focus ~ label {
  transform: translateY(-45%);
}
.contact .container form .form-input input:valid ~ label,
.contact .container form .form-input textarea:valid ~ label {
  transform: translateY(-45%);
}
.contact .container form .form-input textarea {
  resize: none;
}
.contact .container form .form-input label {
  transform: translateY(50%);
  pointer-events: none;
  font-size: 0.9rem;
  transition: transform 200ms linear;
  padding: 0px 2px;
  position: absolute;
  background-color: var(--primary-color);
  left: 15px;
}
.contact .container form .form-input small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 0.8rem;
  color: rgb(249, 72, 72);
  opacity: 0;
}
.contact .container form .form-input.error input,
.contact .container form .form-input.error textarea {
  border-color: rgb(249, 72, 72);
}
.contact .container form .form-input.error label {
  color: rgb(249, 72, 72);
}
.contact .container form .form-input.error small {
  opacity: 1;
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 0.8rem;
}
.contact .container form button {
  padding: 15px;
  border: none;
  border-radius: 4px;
  color: white;
  place-self: center;
  width: 100%;
  box-shadow: 0px 0px 5px var(--shadow-color);
  background-image: repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(157.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  transition: 150ms linear;
}
.contact .container form button:hover {
  box-shadow: 0px 0px 10px var(--shadow-color);
  font-size: 1rem;
}
.contact .container .contact-divider {
  font-size: 1.2rem;
  position: relative;
  background-color: var(--primary-color);
  padding: 4px;
}
.contact .container .contact-divider::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: var(--accent-color);
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2) 50%);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}
.contact .container .right-panel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: min(100vw - 2rem, 400px);
}
.contact .container .right-panel p {
  padding: 15px 15px 15px 15px;
  border: 1px solid var(--accent-color);
  position: relative;
  box-shadow: 0px 0px 5px var(--shadow-color);
  background-color: var(--primary-color);
}
.contact .container .right-panel p button {
  display: block;
  position: absolute;
  right: -10px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  box-shadow: 0px 0px 10px var(--shadow-color);
  background-image: repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(157.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(264deg, 0%, 88%, 0.03) 0px, hsla(264deg, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
}
.contact .container .right-panel p button:active {
  filter: hue-rotate(180deg);
}
.contact .container .right-panel p span:first-of-type {
  position: absolute;
  padding: 0px 4px;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  top: -40%;
  translate: 0% 50%;
}

@-webkit-keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-13 12:57:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-13 13:0:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 521px) {
  header {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
@media (max-width: 1152px) {
  nav ul li {
    display: none;
  }
  nav ul li:last-of-type {
    display: flex;
  }
  .wrapper-menu {
    display: flex !important;
  }
  .side-menu {
    display: block !important;
  }
  .work .project {
    flex-direction: column-reverse;
  }
  .work .project .description {
    margin-top: -30px;
    margin-right: 0px;
    width: 80%;
  }
  .contact .container {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .contact .container form .right-panel {
    width: 100%;
  }
}
@media (max-width: 520px) {
  * {
    cursor: auto;
  }
  .preloader .loader-outer,
.preloader .loader-inner {
    top: 60%;
  }
  #cursor {
    display: none;
  }
  .snackbar {
    bottom: auto;
    top: -100px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .snackbar.active {
    top: 60px;
    bottom: auto;
  }
  .back-to-top {
    width: 40px;
    height: 40px;
  }
  .back-to-top svg {
    width: 35px;
  }
  .back-to-top.active {
    right: 0.5rem;
    bottom: calc(60px + 0.5rem);
  }
  header {
    height: 60px;
    background-color: transparent;
    box-shadow: 0px 0px 0px var(--shadow-color);
  }
  header .logo {
    z-index: 20;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 1rem;
    position: fixed;
    box-shadow: 0px 0px 5px var(--shadow-color);
  }
  header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    background-color: var(--navbar-color);
  }
  header nav {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    height: 60px;
    z-index: 20;
    bottom: 0;
    top: auto;
    overflow: auto;
    background-color: var(--navbar-color);
    right: 0;
    padding-inline: 0.5rem;
    overflow: visible;
    box-shadow: 0px 0px 5px var(--shadow-color);
  }
  header nav ul li {
    display: flex;
  }
  header nav .wrapper-menu {
    display: none;
  }
  header nav ul li a {
    width: calc((100vw - 1rem) / 6);
    padding: 0;
  }
  header nav ul li a.active .icon {
    rotate: -10deg;
  }
  header nav .themes-btn .icon {
    display: block;
  }
  header nav .themes-btn .icon line,
header nav .themes-btn .icon rect {
    stroke-width: 4 !important;
  }
  header nav .themes-btn .text {
    display: block !important;
  }
  header nav .text {
    font-size: 0.5rem;
    padding: 0;
  }
  header nav .icon {
    display: block !important;
    width: 40%;
    fill: var(--text-color);
  }
  header .dropdown-content {
    right: 0.5rem;
    bottom: -100vh;
    top: auto;
    translate: 0% 0%;
  }
  header .dropdown-content ::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 0px var(--accent-color);
  }
  header .dropdown-content.open {
    bottom: 65px;
  }
  header .side-menu {
    display: none !important;
  }
  .home {
    padding-top: 0px !important;
    text-align: center;
  }
  .home .social {
    justify-content: center;
  }
  .home .buttons {
    flex-direction: column;
  }
  .home .buttons button {
    width: 100%;
  }
  .work .projects {
    flex-direction: column-reverse;
  }
  .work .projects .buttons {
    flex-direction: row;
  }
  .work .projects .buttons button {
    width: calc(50vw - 2rem) !important;
  }
  .work .project {
    flex-direction: column-reverse;
  }
  .work .project .description {
    margin-top: 0;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .work .project .description .project-info,
.work .project .description .project-links {
    justify-content: center;
    align-items: center;
  }
  .work .project .preview {
    height: auto;
  }
  .work .project .preview img {
    height: 30vh;
  }
  footer {
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .footer-left ul li a {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */