@media (prefers-color-scheme: dark) {
	:root {
		--navbar-color: #000000e0;
		--primary-color: #040510;
		--accent-color: #12aae1;
		--accent-color2: #0c4357;
		--text-color: #f9f9f9;
		--shadow-color: #01020ea1;
		--card-border-color: rgba(255, 255, 255, 0.1);
		--light-color: rgba(255, 255, 255, 0.06);
		--hover-border-color: rgba(255, 255, 255, 0.4);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--navbar-color: #ffffffe0;
		--primary-color: #ffffff;
		--accent-color: #12aae1;
		--accent-color2: #0c4357;
		--text-color: #000000;
		--shadow-color: #01020e32;
		--card-border-color: rgba(205, 205, 205, 0.21);
		--light-color: rgba(33, 33, 33, 0.06);
		--hover-border-color: rgba(42, 42, 42, 0.4);
	}
}
