@media (min-width: 521px) {
	header {
		backdrop-filter: blur(8px);
	}
}
@media (max-width: 1152px) {
	nav ul li {
		display: none;
		&:last-of-type {
			display: flex;
		}
	}
	.wrapper-menu {
		display: flex !important;
	}
	.side-menu {
		display: block !important;
	}
	.work {
		.project {
			flex-direction: column-reverse;
			.description {
				margin-top: -30px;
				margin-right: 0px;
				width: 80%;
			}
		}
	}
	.about{

	}
	.contact .container {
		flex-direction: column;
		justify-content: center;
		gap: 50px;
		form{
			.right-panel {
				width: 100%;
			}
		}
	}
}

@media (max-width: 520px) {
	* {
		cursor: auto;
	}
	.preloader {
		.loader-outer,
		.loader-inner {
			top: 60%;
		}
	}
	#cursor {
		display: none;
	}
	.snackbar {
		bottom: auto;
		top: -100px;
		width: max-content;
		&.active {
			top: 60px;
			bottom: auto;
		}
	}
	.back-to-top {
		width: 40px;
		height: 40px;
		svg {
			width: 35px;
		}
		&.active {
			right: 0.5rem;
			bottom: calc(60px + 0.5rem);
		}
	}
	header {
		height: 60px;
		background-color: transparent;
		.logo {
			z-index: 20;
			backdrop-filter: blur(4px);
			height: 40px;
			width: 100%;
			top: 0;
			left: 0;
			padding-left: 1rem;
			position: fixed;
			
		}
		&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 40px;
				left: 0;
				top: 0;
				background-color: var(--navbar-color);
			}
		nav {
			backdrop-filter: blur(8px);
			height: 60px;
			z-index: 20;
			bottom: 0;
			top: auto;
			overflow: auto;
			background-color: var(--navbar-color);
			right: 0;
			padding-inline: 0.5rem;
			overflow: visible;
			ul li {
				display: flex;
			}
			.wrapper-menu {
				display: none;
			}
			ul li a {
				width: calc(calc(100vw - 1rem) / 6);
				padding: 0;
				&.active {
					.icon {
						rotate: -10deg;
					}
				}
			}
			.themes-btn {
				.icon {
					display: block;
					line,
					rect {
						stroke-width: 4 !important;
					}
				}
				.text {
					display: block !important;
				}
			}
			.text {
				font-size: 0.5rem;
				padding: 0;
			}
			.icon {
				display: block !important;
				width: 40%;
				fill: var(--text-color);
			}
		}
		.dropdown-content {
			right: 0.5rem;
			bottom: -100vh;
			top: auto;
			translate: 0% 0%;
			::-webkit-scrollbar-thumb {
				box-shadow: 0px 0px 0px var(--accent-color);
			}
			&.open {
				bottom: 65px;
			}
		}
		.side-menu {
			display: none !important;
		}
	}
	.home {
		padding-top: 0px !important;
		text-align: center;
		.social {
			justify-content: center;
		}
		.buttons {
			flex-direction: column;
			button {
				width: 100%;
			}
		}
	}
	.work {
		.projects {
			flex-direction: column-reverse;
			.buttons {
			flex-direction: row;
				button {
					width: calc(50vw - 2rem) !important;
				}
			}
		}
		.project {
			flex-direction: column-reverse;
			.description {
				margin-top: 0;
				margin-right: 0px;
				width: 100%;
				text-align: center;
				padding: 10px;
				.project-info,
				.project-links {
					justify-content: center;
					align-items: center;
				}
			}
			.preview {
				height: auto;
				img {
					height: 30vh;
				}
			}
		}
	}
}
