.about {
	display: grid;
	place-content: center;
	position: relative;
	min-height: 100vh;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--accent-color);
		position: absolute;
		right: 0;
		bottom: 0 !important;
		clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
		z-index: -1;
		background-image: repeating-linear-gradient(
				135deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				45deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				90deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				0deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			linear-gradient(90deg, var(--accent-color), var(--accent-color2));
	}
	.container {
		width: min(calc(100% - 2rem), 1600px);
		margin: 0 auto;
		p {
			max-width: 1100px;
			font-size: clamp(0.8rem, 1.2vw, 1rem);
			margin-bottom: 20px;
		}
		.title {
			margin-bottom: 0px;
			background-image: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
			width: fit-content;
			background-clip: text;
			color: transparent;
			font-size: clamp(1.2rem, 2.2vw, 2.2rem);
			text-shadow: 0px 0px 10px var(--shadow-color);
		}
		div {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 10px;
			a {
				flex: 1;
				text-decoration: none;
				padding: 10px 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--primary-color);
				border-style: solid;
				border-width: 1;
				border-image-slice: 1;
				border-image-source: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
				transition: 500ms ease-in-out;
				position: relative;
				color: currentColor;
				opacity: 0;
				translate: 0% -50%;
				transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
				transition-delay: 1500ms;
				svg {
					position: absolute;
					top: 0;
					left: 10px;
					width: 35px;
					opacity: 0;
					transition: 300ms linear;
				}
				&::before {
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					background-image: linear-gradient(90deg, var(--accent-color2), var(--accent-color));
					top: 0%;
					left: 0%;
					scale: 0 1;
					transition: 300ms linear;
					transform-origin: left;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					z-index: -1;
				}
				&:hover {
					background-color: transparent;
					color: white;
					svg {
						opacity: 1;
						transition-delay: 300ms;
					}
					&::before {
						scale: 1 1;
					}
				}
			}
		}
		p {
			opacity: 0;
			translate: 0% -50%;
			transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
			@for $i from 2 through 4 {
				&:nth-of-type(#{$i}) {
					transition-delay: 100ms + 250ms * $i;
				}
			}
		}
		.title {
			opacity: 0;
			translate: -50% 0%;
			transition: opacity 300ms linear, translate 300ms linear;
			@for $i from 2 through 5 {
				&:nth-of-type(#{$i}) {
					transition-delay: 250ms * $i;
				}
			}
		}
	}
	&.shown {
		.container {
			p {
				opacity: 1;
				translate: 0% 0%;
			}
			.title {
				opacity: 1;
				translate: 0% 0%;
			}
			a {
				opacity: 1;
				translate: 0% 0%;
			}
		}
	}
}
