.contact {
	width: min(calc(100% - 2rem), 1600px);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.form-input {
			position: relative;
			input {
				padding: 15px;
				width: 500px;
				border: 1px solid var(--accent-color);
				background-color: var(--primary-color);
				color: var(--text-color);
				&:placeholder-shown ~ label {
					opacity: 0;
				}
				&:empty ~ label {
					top: 0%;
					transition: top 200ms linear;
				}
				&:focus ~ label {
					opacity: 1;
					top: 0%;
				}
			}
			label {
				// top: 50%;
				pointer-events: none;
				font-size: 0.9rem;
				transition: top 200ms linear;
				padding: 2px;
				position: absolute;
				background-color: var(--primary-color);
				left: 15px;
				translate: 0% -50%;
			}
		}
		button {
			padding: 15px;
			background-color: var(--primary-color);
			border: 1px solid var(--text-color);
			color: var(--text-color);
			&:hover {
				color: var(--accent-color);
				border: 1px solid var(--accent-color);
			}
		}
	}
}
