.contact {
	display: grid;
	position: relative;
	min-height: 100vh !important;
	height: max-content;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--accent-color);
		position: absolute;
		right: 0;
		bottom: 0;
		clip-path: polygon(100% 0, 50% 0, 100% 60%);
		z-index: -1;
		background-image: repeating-linear-gradient(
				135deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				45deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				90deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				0deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		backdrop-filter: blur(8px);
	}
	.container {
		width: min(calc(100% - 2rem), 1600px);
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-around;
		form {
			display: grid;
			gap: 15px;
			width: min(calc(100vw - 2rem), 500px);
			position: relative;
			pointer-events: all;
			&::before,
			&::after {
				justify-content: center;
				align-items: center;
			}
			&::before {
				display: none;
				content: '';
				z-index: 10px;
				background-color: var(--primary-color);
				opacity: 0.6;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				position: absolute;
				width: 103%;
				height: 103%;
				z-index: 10;
			}
			&::after {
				display: none;
				content: '';
				z-index: 10px;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				border-radius: 50%;
				position: absolute;
				width: 50px;
				height: 50px;
				border: 2px solid var(--accent-color);
				border-left: none;
				border-top: none;
				z-index: 10;
				animation: rotate 1s linear infinite;
			}
			&.pending {
				opacity: 1;
				pointer-events: none;
				&::before,
				&::after {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			&.success {
				&::before {
					display: flex;
				}
				&::after {
					animation: none;
					display: flex;
					color: green;
					border: 2px solid green;
					content: '✔';
				}
			}
			&:has(.error) {
				gap: 25px;
			}
			.form-input {
				position: relative;

				input,
				textarea {
					padding: 15px;
					box-shadow: 0px 0px 5px var(--shadow-color);
					width: 100% !important;
					border: 1px solid var(--accent-color);
					background-color: var(--primary-color);
					color: var(--text-color);
					&:focus ~ label {
						transform: translateY(-45%);
					}
					&:valid ~ label {
						transform: translateY(-45%);
					}
				}
				textarea {
					resize: none;
				}
				label {
					transform: translateY(50%);
					pointer-events: none;
					font-size: 0.9rem;
					transition: transform 200ms linear;
					padding: 0px 2px;
					position: absolute;
					background-color: var(--primary-color);
					left: 15px;
				}
				small {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 5px;
					position: absolute;
					right: 0;
					bottom: -20px;
					font-size: 0.8rem;
					color: rgb(249, 72, 72);
					opacity: 0;
				}
				&.error {
					input,
					textarea {
						border-color: rgb(249, 72, 72);
					}
					label {
						color: rgb(249, 72, 72);
					}
					small {
						opacity: 1;
						position: absolute;
						right: 0;
						bottom: -20px;
						font-size: 0.8rem;
					}
				}
			}
			button {
				padding: 15px;
				border: none;
				border-radius: 4px;
				color: white;
				place-self: center;
				width: 100%;
				box-shadow: 0px 0px 5px var(--shadow-color);
				background-image: repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(112.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(112.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(22.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(22.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(157.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
					linear-gradient(90deg, var(--accent-color), var(--accent-color2));
				transition: 150ms linear;
				&:hover {
					box-shadow: 0px 0px 10px var(--shadow-color);
					font-size: 1rem;
				}
			}
		}
		.contact-divider {
			font-size: 1.2rem;
			position: relative;
			background-color: var(--primary-color);
			padding: 4px;
			&::before {
				position: absolute;
				content: '';
				width: 100px;
				height: 1px;
				background-color: var(--accent-color);
				background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2) 50%);
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				z-index: -1;
			}
		}
		.right-panel {
			display: flex;
			flex-direction: column;
			gap: 30px;
			width: min(calc(100vw - 2rem), 400px);
			p {
				padding: 15px 15px 15px 15px;
				border: 1px solid var(--accent-color);
				position: relative;
				box-shadow: 0px 0px 5px var(--shadow-color);
				background-color: var(--primary-color);
				button {
					display: block;
					position: absolute;
					right: -10px;
					padding: 4px;
					border-radius: 4px;
					border: none;
					color: white;
					box-shadow: 0px 0px 10px var(--shadow-color);
					background-image: repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(112.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(112.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(22.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(45deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(22.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(135deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(157.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						repeating-linear-gradient(67.5deg, hsla(264, 0%, 88%, 0.03) 0px, hsla(264, 0%, 88%, 0.03) 1px, transparent 1px, transparent 12px),
						linear-gradient(90deg, var(--accent-color), var(--accent-color2));
					&:active {
						filter: hue-rotate(180deg);
					}
				}
				span:first-of-type {
					position: absolute;
					padding: 0px 4px;
					font-size: 0.9rem;
					background-color: var(--primary-color);
					top: -40%;
					translate: 0% 50%;
				}
			}
		}
		form {
			translate: -50% 0%;
			opacity: 0;
			transition: 300ms linear;
		}
		.right-panel {
			translate: 50% 0%;
			opacity: 0;
			transition: 300ms linear;
			transition-delay: 500ms;
		}
	}
	&.shown {
		form {
			translate: 0% 0%;
			opacity: 1;
		}
		.right-panel {
			translate: 0% 0%;
			opacity: 1;
		}
	}
}
