.skills {
	position: relative;
	display: grid;
	place-content: center;
	&.shown {
		.swiper {
			transition: 300ms linear;
			opacity: 1;
			translate: 0% 0%;
		}
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--accent-color);
		position: absolute;
		left: 0;
		bottom: 0;
		clip-path: polygon(50% 0, 0 0, 0 50%);
		z-index: -1;
		background-image: repeating-linear-gradient(
				135deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				45deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				90deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				0deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		backdrop-filter: blur(8px);
	}
	.swiper {
		translate: 0% -10%;
		opacity: 0;
		width: min(100% - 2rem, 1600px);
		text-align: center;
		padding-block: 50px;
		padding-inline: 15px;
		.swiper-button-prev,
		.swiper-button-next {
			color: var(--accent-color);
		}
		.swiper-wrapper {
			&:hover > .swiper-slide::after {
				opacity: 1;
			}
		}
		.swiper-slide {
			width: min(calc(100% - 2rem), 350px);
			height: 450px;
			background-color: var(--card-border-color);
			place-self: center;
			display: flex;
			flex-direction: column;
			position: relative;
			&:hover::before {
				opacity: 1;
			}
			&::before,
			&::after {
				border-radius: inherit;
				content: '';
				height: 100%;
				left: 0px;
				opacity: 0;
				position: absolute;
				top: 0px;
				transition: opacity 500ms;
				width: 100%;
			}
			&::before {
				background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--light-color), transparent 40%);
				z-index: 3;
			}
			&::after {
				background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--hover-border-color), transparent 40%);
				z-index: 1;
			}
			.content {
				background-color: var(--card-color);
				background-color: var(--primary-color);
				border-radius: inherit;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				inset: 1px;
				padding: 10px;
				position: absolute;
				z-index: 2;
			}
			img {
				height: 300px;
				margin: 0 auto;
				margin-top: 30px;
				inline-size: 100%;
				object-fit: contain;
				filter: grayscale(100%);
				opacity: 0.7;
				user-select: none;
				transition: 300ms linear;
			}
			.description {
				padding-top: 30px;
				width: 100%;

				margin-bottom: 30px;
				text-align: center;
				font-size: 1.1rem;
				position: absolute;
				right: 0;
				bottom: 0px;
				transition: 300ms linear;
				opacity: 0;
			}
			&:hover {
				img {
					filter: grayscale(0%);
					opacity: 1;
				}
				.description {
					opacity: 1;
				}
			}
		}
		.swiper-pagination {
			.swiper-pagination-bullet {
				background-color: var(--accent-color);
			}
			.swiper-pagination-bullet-active {
				width: 20px;
				border-radius: 8px;
			}
		}
	}
}
