.work {
	position: relative;
	display: grid;
	place-content: center;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--accent-color);
		position: absolute;
		right: 0;
		bottom: 0;
		clip-path: polygon(100% 0, 50% 0, 100% 60%);
		z-index: -1;
		background-image: repeating-linear-gradient(
				135deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				45deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				90deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				0deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		backdrop-filter: blur(8px);
	}
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--accent-color);
		position: absolute;
		left: 0;
		bottom: 0;
		clip-path: polygon(0 50%, 0% 100%, 50% 100%);
		z-index: -1;
		background-image: repeating-linear-gradient(
				135deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				45deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				90deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			repeating-linear-gradient(
				0deg,
				hsla(210, 79%, 75%, 0.05) 0px,
				hsla(210, 79%, 75%, 0.05) 1px,
				transparent 1px,
				transparent 11px,
				hsla(210, 79%, 75%, 0.05) 11px,
				hsla(210, 79%, 75%, 0.05) 12px,
				transparent 12px,
				transparent 32px
			),
			linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		backdrop-filter: blur(8px);
	}
	.projects {
		display: flex;
		justify-content: center;
		align-items: center;
		width: min(calc(100vw - 3rem), 1600px);
		gap: 20px;
		position: relative;
		.buttons {
			display: flex;
			flex-direction: column;
			gap: 20px;
			translate: -50%;
			opacity: 0 !important;
			transition: 300ms linear;
			button {
				background-color: var(--navbar-color);
				color: var(--text-color);
				box-shadow: 0px 0px 5px var(--shadow-color);
				border: 1px solid;
				border-image-slice: 1;
				border-image-source: linear-gradient(to left, var(--accent-color), var(--accent-color2));
				padding: 5px;
				z-index: 2;
				left: 10px;
				backdrop-filter: blur(8px);
			}
		}
		.carrousel {
			overflow: hidden;
		}
	}
	.project {
		display: flex;
		align-items: center;
		justify-content: center;
		display: none;
		animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		&.active {
			display: flex;
		}
		ul {
			list-style: none;
		}
		.description {
			border-radius: 4px;
			background-color: var(--navbar-color);
			display: flex;
			gap: 10px;
			justify-content: center;
			flex-direction: column;
			border: 1px solid var(--accent-color);
			padding: 20px;
			width: 605px;
			margin-right: -80px;
			z-index: 1;
			box-shadow: 0px 0px 10px var(--accent-color);
			backdrop-filter: blur(8px) !important;
			opacity: 0 !important;
			svg {
				stroke: var(--text-color);
				fill: none;
				width: 35px;
				transition: 150ms linear;
			}
			.project-title {
				font-size: clamp(1.3rem, 2.3vw, 2.3rem);
				color: var(--accent-color);
				translate: 0% -100%;
				opacity: 0;
			}
			.project-info {
				ul li svg {
					fill: var(--text-color);
					width: 28px;
				}
			}
			.project-info,
			.project-links {
				display: flex;
				flex-direction: column;
				gap: 2px;
				translate: 0% -30%;
				opacity: 0;
				p {
					font-size: clamp(0.9rem, 1vw, 1.4rem);
				}
				ul {
					display: flex;
					gap: 8px;
					li {
						display: grid;
						place-content: center;
						a {
							&:hover {
								svg {
									stroke: var(--accent-color);
									rotate: 15deg;
								}
							}
						}
					}
				}
			}
		}
		.preview {
			height: 500px;
			position: relative;
			box-shadow: 0px 0px 5px var(--shadow-color);
			transition: 300ms linear;
			opacity: 0 !important;
			img {
				border-radius: 4px;
				user-select: none;
				pointer-events: none;
				width: min(calc(100vw - 3rem), 700px);
				height: 100%;
				object-fit: cover;
				border: 2px solid var(--accent-color);
			}
		}
	}
	&.shown {
		* {
			transition: translate 600ms ease-in-out, opacity 800ms linear;
		}
		.project {
			.preview {
				opacity: 1 !important;
				translate: 0% 0%;
			}
			.description {
				opacity: 1 !important;
				translate: 0% 0%;
				transition-delay: 300ms !important;
				.project-title {
					translate: 0% 0%;
					transition-delay: 900ms !important;
					opacity: 1;
				}
				.project-info {
					translate: 0% 0%;
					transition-delay: 1600ms !important;
					opacity: 1;
					transition: translate 300ms ease-in-out, opacity 800ms linear;
				}
				.project-links {
					translate: 0% 0%;
					transition-delay: 2000ms !important;
					opacity: 1;
					transition: translate 300ms ease-in-out, opacity 800ms linear;
				}
			}
		}
		.buttons {
			opacity: 1 !important;
			translate: 0%;
			transition-delay: 2300ms !important;
		}
	}
}
