header {
	position: fixed;
	width: 100vw;
	height: 80px;
	background-color: var(--navbar-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 20px;
	z-index: 10;
	.skip-nav {
		position: absolute;
		background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		color: transparent;
		background-clip: text;
		border: 1px solid var(--accent-color);
		transition: translate 200ms ease-in-out;
		translate: 0% -200%;
		padding: 10px;
		&:focus {
			translate: 0% 200%;
		}
	}
	.logo {
		font-size: 1.5rem;
		background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
		color: transparent;
		background-clip: text;
	}
	nav {
		position: fixed;
		right: 2rem;
		top: 0;
		bottom: auto;
		height: 80px;
		.wrapper-menu {
			display: flex;
			opacity: 1;
			flex-direction: column;
			justify-content: space-between;
			cursor: pointer;
			transition: transform 330ms ease-out;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			left: -3rem;
			top: -6px;
			width: 28px;
			height: 25px;
			width: 46px;
			height: 43px;
			display: none;
			background-color: transparent;
			border: none;
			padding: 10px;
			&:hover {
				.line-menu {
					background-color: var(--accent-color);
				}
			}
			.line-menu {
				background-color: var(--text-color);
				border-radius: 5px;
				width: 100%;
				height: 2px;
				&.start {
					transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
					transform-origin: right;
				}
				&.half {
					width: 50%;
				}
				&.end {
					align-self: flex-end;
					transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
					transform-origin: left;
				}
			}
			&.open {
				transform: rotate(-45deg);
				.line-menu {
					&.start {
						transform: rotate(-90deg) translateX(3px);
					}
					&.end {
						transform: rotate(-90deg) translateX(-3px);
					}
				}
			}
		}
		ul {
			list-style-type: none;
			height: 100%;
			display: flex;
			li {
				height: 100%;
				a {
					padding-inline: 20px;
					text-decoration: none;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column-reverse;
					color: var(--text-color);
					width: 100%;
					height: 100%;
					position: relative;
					.icon {
						display: none;
					}
					&::before {
						content: '';
						width: 100%;
						scale: 0 0;
						transform-origin: top center;
						height: 2px;
						background-color: var(--accent-color);
						position: absolute;
						top: 0px;
						transition: all 0.5s;
					}

					&.themes-btn {
						.icon {
							display: block;
							line,
							rect {
								stroke-width: 9;
							}
						}
						.text {
							display: none;
						}
						stroke: var(--accent-color);
					}
					&:hover {
						outline: none;
						color: var(--accent-color);
						text-shadow: 0px 0px 10px var(--accent-color);
						.icon svg path {
							stroke: var(--accent-color);
						}
						&.themes-btn svg line,
						rect {
							stroke: var(--accent-color);
						}
					}
					&:hover::before {
						width: 100%;
						scale: 1 1;
						filter: drop-shadow(0px 10px 10px var(--accent-color));
					}
					&.themes-btn svg line,
					rect {
						stroke: var(--text-color);
					}
					&.themes-btn:after {
						content: '';
						width: 100%;
						scale: 0 0;
						transform-origin: bottom center;
						height: 2px;
						background-color: var(--accent-color);
						position: absolute;
						bottom: 0px;
						transition: all 0.5s;
					}
					&.themes-btn:hover::after {
						width: 100%;
						scale: 1 1;
						filter: drop-shadow(0px -10px 10px var(--accent-color));
					}
				}
			}
		}
	}
	.dropdown-content {
		position: fixed;
		top: 80px;
		bottom: auto;
		right: 2rem;
		width: min(calc(100% - 1rem), 400px);
		margin: 0 auto;
		translate: 120% 0%;
		background-color: var(--navbar-color);
		backdrop-filter: blur(3px);
		z-index: 10;
		transition: translate 300ms linear;
		&.open {
			transition: translate 700ms cubic-bezier(0.42, 0, 0.11, 1.32);
			translate: 0% 0%;
			.dropdown-items .dropdown-item {
				visibility: visible;
				opacity: 1;
				transition: 300ms linear;
			}
		}
		::-webkit-scrollbar {
			width: 6px;
		}
		::-webkit-scrollbar-thumb {
			background: var(--accent-color);
			box-shadow: 0px 0px 10px var(--accent-color);
		}
		p {
			font-size: 1.3rem;
			padding: 10px;
			padding-block: 20px;
			span {
				color: var(--accent-color);
				font-weight: 900;
			}
		}
		.dropdown-items {
			padding: 10px;
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			height: 450px;
			overflow-y: auto;
			overscroll-behavior-y: contain;
			.dropdown-item {
				overflow: hidden;
				visibility: hidden;
				opacity: 0;
				border: none;
				display: flex;
				text-align: left;
				color: var(--text-color);
				width: 100%;
				padding: 10px;
				background-color: var(--navbar-color);
				height: 200px;
				position: relative;
				transition: 100ms linear;
				&:hover {
					box-shadow: 0px 0px 10px var(--accent-color);
					scale: 1.02;
				}
				.theme-description {
					position: absolute;
					backdrop-filter: blur(3px);
					padding: 10px;
					left: 0;
					bottom: 0;
					width: 100%;
					background-color: var(--navbar-color);
					pointer-events: none;
					font-size: 0.8rem;
				}
				&.active::before {
					font-size: 0.8rem;
					content: 'Active';
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					height: 20px;
					left: -20px;
					rotate: -45deg;
					color: #fff;
					background-color: var(--accent-color);
					box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
	.side-menu {
		display: none;
		position: fixed;
		visibility: hidden;
		right: 0;
		top: 80px;
		height: 100vh;
		width: 300px;
		background-color: var(--navbar-color);
		backdrop-filter: blur(8px);
		translate: 100% 0%;
		transition: 500ms cubic-bezier(0, 0, 0.37, 1.69);
		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			padding: 20px;
			li {
				translate: 50% 0%;
				opacity: 0;
				transition: 100ms linear;
				a {
					text-decoration: none;
					color: var(--text-color);
					font-size: 1.3rem;
					position: relative;
					&::before {
						content: '';
						width: 2px;
						height: 100%;
						position: absolute;
						background-color: var(--accent-color);
						left: -15px;
						scale: 100% 0%;
						transform-origin: bottom;
						transition: box-shadow 100ms 250ms linear, scale 250ms ease-in-out;
					}
					&:hover {
						color: var(--accent-color);
						&::before {
							scale: 100% 100%;
							box-shadow: 5px 0px 10px var(--accent-color);
						}
					}
				}
			}
		}
		&.open {
			visibility: visible;
			translate: 0% 0%;
			li {
				translate: 0% 0%;
				transition: 300ms ease-in-out;
				opacity: 1;
				@for $i from 1 through 5 {
					&:nth-of-type(#{$i}) {
						transition-delay: $i * 100ms + 500ms;
					}
				}
			}
		}
	}
}
